{
  "plugins": ["stylelint-prettier"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": true,
    "color-named": "never",
    "max-nesting-depth": 3,
    "order/properties-alphabetical-order": null
  }
}
