body {
  @include using-font-family();

  background: $color-background;
  color: $color-text-primary;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.02em;
}
